*{
    margin:0px;
    padding: 0px;
}
.instructions{
    padding: 2rem 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: cornsilk;
}
.appComponent{
    background-color: #7a7a7a;
    height: 650px;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 50%;
    box-sizing: border-box;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    margin-top: 4rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: navajowhite;
    background-color: #32d09b;
    color: #f4f4f4;
    cursor: pointer;
}
.button:active{
    box-shadow: 1px 5px 8px 1px #2c4e4c;
}
.confetti{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}